<section class="products-index">

  <header class="page-header">
    <h1>Categories</h1>
  </header>

  <div class="categories">
    <%= render 'category_item', categories: @categories %>
  </div>

</section>
